/* from https://superuser.com/a/1424494 */

/* hides the sidebar */
#sidebar-header {
  visibility: collapse !important;
}


/* from https://superuser.com/a/1619663 */

#tabbrowser-tabs {
  visibility: collapse;
}
#navigator-toolbox {
  display: flex;
  flex-flow: row wrap;
}
#titlebar {
  order: 1;
  max-width: 108px;
}
#titlebar #TabsToolbar {
  background-color: var(--toolbar-bgcolor);
  background-image: var(--toolbar-bgimage)
}
#titlebar #TabsToolbar .titlebar-spacer {
  background-color: rgba(0,0,0,0.05);
  margin: 3px;
  border-radius: 25%;
  cursor: grab;
}
#titlebar #TabsToolbar .titlebar-spacer[type="pre-tabs"] {
  display: none;
}
#nav-bar {
  order: 0;
  width: calc(100% - 108px);
}
#PersonalToolbar {
  order: 2;
}
/* Update - Hides the new Firefox home + tab dropdown. If you want to keep/customize those buttons. remove the CSS below and adjust the widths above to get everything fitting in one line */
#TabsToolbar .toolbar-items {
  display: none;
}
